In [1]:
!pip install pymysql > /dev/null

In [ ]:
from google.colab import files
uploaded = files.uplaod()
filename = list(uploaded.leys())[0]

In [15]:
import json
with open('mysql.json', 'r') as file:
  config_str = file.read()
config = json.loads(config_str)

In [16]:
config['database'] = 'mcdb'

In [17]:
import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

In [22]:
cur = conn.cursor()
sql = "select id, date_format(dt, '%Y-%m-%d %H:%i') AS my_date from date_table"
cur.execute(sql)

5

In [23]:
conn.close()