## Pandas - Series

In [2]:
import numpy as np
import pandas as pd

### 시리즈 생성

In [16]:
s = pd.Series([9904312, 3448737, 2890451, 2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [20]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"], dtype=np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [8]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [9]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [21]:
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

### 시리즈의 연산

In [22]:
s = s / 1000000
s

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### 시리즈 인덱싱

In [34]:
s[1], s['부산'], s.부산

(3.448737, 3.448737, 3.448737)

In [26]:
# fancy indexing
s[[0, 3, 1]], s[['서울', '대구', '부산']]

(도시
 서울    9.904312
 대구    2.466052
 부산    3.448737
 Name: 인구, dtype: float64, 도시
 서울    9.904312
 대구    2.466052
 부산    3.448737
 Name: 인구, dtype: float64)

In [27]:
# slicing
s[1:3]

도시
부산    3.448737
인천    2.890451
Name: 인구, dtype: float64

In [30]:
# 문자 인덱싱 가능 but 마지막 인덱스도 포함
s['부산':'대구']

도시
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [31]:
# 필터링
s[(2.5 < s) & (s < 3.0)]

도시
인천    2.890451
Name: 인구, dtype: float64

In [32]:
s[(s<2.5) | (s>4.0)] # 25e5로 2500000을 표현 가능

도시
서울    9.904312
대구    2.466052
Name: 인구, dtype: float64

In [33]:
s.부산 # 한글 index도 불러올 수 있음

3.448737

### 시리즈와 딕셔너리

In [35]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [37]:
'서울' in s2, '대구' in s2

(True, False)

### 인덱스 기반 연산

In [38]:
s2 - s

대구             NaN
대전             NaN
부산    3.393188e+06
서울    9.631472e+06
인천    2.632032e+06
dtype: float64

In [39]:
s.values - s2.values

array([-9631472.095688, -3393187.551263, -2632032.109549, -1490155.533948])

In [41]:
rs = (s - s2)/s * 100
rs

대구             NaN
대전             NaN
부산   -9.838928e+07
서울   -9.724524e+07
인천   -9.105957e+07
dtype: float64

In [42]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [52]:
rs = rs[rs.notnull()]

### 데이터 갱신, 추가, 삭제

In [57]:
# update
rs['부산'] = 1.63
rs

부산    1.630000e+00
서울   -9.724524e+07
인천   -9.105957e+07
대구    1.410000e+00
dtype: float64

In [58]:
# ADD
rs['대구'] = 1.41
rs

부산    1.630000e+00
서울   -9.724524e+07
인천   -9.105957e+07
대구    1.410000e+00
dtype: float64

In [61]:
#delete
del rs['부산']
rs

서울   -9.724524e+07
인천   -9.105957e+07
대구    1.410000e+00
dtype: float64