In [1]:
!apt-get install -y fonts-nanum > /dev/null
!fc-cache -fv > /dev/null
!rm -rf ~/.cache/matplotlib > /dev/null
# 런타임 다시시작

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [3]:
data_folder = '/content/mnt/MyDrive/데이터/소상공인_상권'

In [45]:
from glob import glob
filelist = []
for f in glob(f'{data_folder}/*.csv'):
  filelist.append(f)

- 서울 데이터 --> 스타벅스, 커피빈, 이디야, 빽다방 추출
- 전국 데이터 추출 --> 스타벅스, 커피빈, 이디야, 빽다방 추출

In [46]:
df = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv')

In [47]:
pop = df[df.상권업종중분류코드 == 'Q12']

In [ ]:
pop.head(2)

In [66]:
pop = pop[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
pop.tail()

               상호명  지점명    시도명 시군구명                도로명주소
315753  카페나무영우성균관대  NaN  서울특별시  종로구    서울특별시 종로구 율곡로 171
315754   에이스타커피컴퍼니  NaN  서울특별시  마포구   서울특별시 마포구 광성로4길 11
315911          까치  NaN  서울특별시  종로구     서울특별시 종로구 종로 316
315932  cafscoffee  NaN  서울특별시  강남구  서울특별시 강남구 언주로30길 56
315945         벨로샵  NaN  서울특별시  마포구     서울특별시 마포구 토정로 99

In [70]:
sb = pop[pop['상호명'].str.contains('스타벅스|STARBUCKS|스타박스', na=False, case=False)]
sb.head()

              상호명      지점명    시도명  시군구명                 도로명주소
1738         스타벅스   동숭로아트점  서울특별시   종로구     서울특별시 종로구 동숭길 110
2766  스타벅스남부터미널2점  남부터미널2점  서울특별시   서초구     서울특별시 서초구 효령로 274
3785         스타벅스      당산점  서울특별시  영등포구     서울특별시 영등포구 양평로 64
3933         스타벅스    가로수길점  서울특별시   강남구  서울특별시 강남구 논현로175길 94
3995  스타벅스미아사거리역점  미아사거리역점  서울특별시   강북구      서울특별시 강북구 도봉로 32

In [73]:
cb = pop[pop['상호명'].str.contains('커피빈|COFFEEBEAN', na=False, case=False)]
cb.head()

              상호명           지점명    시도명 시군구명                 도로명주소
28            커피빈   코리아대학로대명거리점  서울특별시  종로구      서울특별시 종로구 대명길 25
316   커피빈코리아낙성대역점      코리아낙성대역점  서울특별시  관악구  서울특별시 관악구 남부순환로 1909
1470          커피빈  코리아강남역랭기지타워점  서울특별시  강남구   서울특별시 강남구 테헤란로4길 28
1491          커피빈      코리아청담성당점  서울특별시  강남구     서울특별시 강남구 삼성로 716
1506          커피빈      코리아청담에스점  서울특별시  강남구    서울특별시 강남구 압구정로 461

In [85]:
ed = pop[pop['상호명'].str.contains('이디야|EDIYA', na=False, case=False)]
ed.head()

             상호명    지점명    시도명  시군구명                도로명주소
1272       이디야커피   신길역점  서울특별시  영등포구  서울특별시 영등포구 영등포로 353
1411       이디야커피   라이프점  서울특별시  영등포구    서울특별시 영등포구 63로 40
2433  이디야커피양재AT점  양재AT점  서울특별시   서초구      서울특별시 서초구 동산로 3
2785       이디야커피    시흥점  서울특별시   금천구    서울특별시 금천구 금하로 750
4498       이디야커피  개봉중앙점  서울특별시   구로구   서울특별시 구로구 개봉로3길 26

In [83]:
bd = pop[pop['상호명'].str.contains('빽다방|PAIKSCOFFEE', na=False, case=False)]
bd.head()

               상호명       지점명    시도명 시군구명                 도로명주소
7607     빽다방공덕새창로점    공덕새창로점  서울특별시  마포구    서울특별시 마포구 새창로 15-1
8565      빽다방서초우성점     서초우성점  서울특별시  서초구    서울특별시 서초구 사임당로 181
19901  빽다방중계은행사거리점  중계은행사거리점  서울특별시  노원구   서울특별시 노원구 한글비석로 235
26972     빽다방성신여대점     성신여대점  서울특별시  성북구  서울특별시 성북구 동소문로20나길 3
27346    빽다방신림역1호점    신림역1호점  서울특별시  관악구  서울특별시 관악구 남부순환로 1592

In [86]:
len(sb), len(cb), len(ed), len(bd)

(489, 169, 440, 127)

- 전국데이터

In [88]:
starbucks = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])
coffebean = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])
ediya = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])
paik = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])

In [89]:
for fp in filelist:
  df = pd.read_csv(fp)
  df = df[df.상권업종중분류코드 == 'Q12']
  df = df[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]

  sb = pop[pop['상호명'].str.contains('스타벅스|STARBUCKS|스타박스', na=False, case=False)]
  cb = pop[pop['상호명'].str.contains('커피빈|COFFEEBEAN', na=False, case=False)]
  ed = pop[pop['상호명'].str.contains('이디야|EDIYA', na=False, case=False)]
  bd = pop[pop['상호명'].str.contains('빽다방|PAIKSCOFFEE', na=False, case=False)]

  starbucks = pd.concat([starbucks, sb])
  coffebean = pd.concat([coffebean, cb])
  ediya = pd.concat([ediya, ed])
  paik = pd.concat([paik, bd])

In [93]:
result_dir = '/content/mnt/MyDrive/results/CoffeIndex'

In [94]:
!mkdir -p $result_dir

In [95]:
starbucks.to_csv(f'{result_dir}/스타벅스.csv', index=False)
coffebean.to_csv(f'{result_dir}/커피빈.csv', index=False)
ediya.to_csv(f'{result_dir}/이디야.csv', index=False)
paik.to_csv(f'{result_dir}/빽다방.csv', index=False)